<div class='row'>

  <div class='col-md-12' data-bind="visible: items().length > 0">
    <table class='table'>
      <thead>
        <tr><th><h2>Recently Active Items</h2></th></tr>
      </thead>
      <tbody data-bind="foreach: items">
        <tr>
          <td>
            <a class='accessor' href="#"
               data-bind="click: $parent.openItem, text: title, attr: {id: $data._id}"></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class='col-md-12' data-bind="visible: items().length === 0">
<div class='initial-state-box'>
  <div class='row'>
    <div class='col-md-12 initial-state-box-command'>
      <div class='row'>

        <a href="#"
           data-bind='click: addItem'>Ready to create your first Item?</a>
      </div>
      </div class='row'>
        <button data-bind="click: addItem"
                class='btn-send btn-5 btn-5b ion-ios-plus-outline'>
          <span>Add Item...</span>
        </button>


      </div>
    </div>
  </div>
</div>



</div>

</div>
