<div data-bind="component: { name: 'main-menu', params: {route: route}} "></div>

<div class='row'> <!-- dashboard row -->

  <!-- right side panel -->
  <div class='col-md-8'>
    <div class='row'>
      <div class='col-md-12'>
      <fullcalendar  id="calendar" params=""></fullcalendar>
      </div>
      </div>
  </div>
  <!-- end of right side panel -->


  <!-- left side panel -->
  <div class='col-md-4'>
    <!-- left side panel top row -->
    <div class='row'>
      <div class='col-md-12'>
         <todo-list />
      </div>
    </div>
    <!-- end of left side bottom row -->

  </div>
  <!-- end of left side panel -->


</div> <!-- dashboard row -->
